RPC_URL=
WS_RPC_URL=
ARBITRUM_RPC_URL=
AVALANCHE_RPC_URL=
ARBITRUM_FORK_BLOCK=
USDC=
WETH=
FLASHBOTS_AUTH_KEY=
FLASHBOTS_RELAY_URL=https://relay.flashbots.net
FLASHBOTS_PROTECT_RPC=https://rpc.flashbots.net
AAVE_POOL=
BALANCER_VAULT=
PRIVATE_KEY=
MIN_PROFIT_USDC=25
